.container-jumbotron {
    height: 300px;
    background-image: url("/img/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.series-container {
    background-color: #1c1c1c;
    position: relative;
    z-index: 1002;

    .container {

        .current-series {
            position: absolute;

            .current-series-box {
                padding: 8px 30px;
                background-color: #0282f9;
                color: white;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                position: relative;
                transform: translateY(-30px);
            }
        }

        .games-container {
            padding: 50px 0;

            .game-box {

                .img-game-box {

                    img {width: 100%;} 
                }

                h3 {
                    color: white;
                    font-size: 15px;
                    padding-top: 24px;
                    padding-bottom: 48px;
                }
            }
        }

        .button-container {
            padding-bottom: 24px;
            text-align: center;

            button {
                background-color: #0282f9;
                border: none;
                padding: 8px 80px;
                color: white;
                font-weight: bold;
            }
        }

    }
}