.nav-container {
    background-color: #0282f9;
    color: white;

    .row {
        align-items: center;
        justify-content: flex-end;

        :first-child {
            padding-right: 36px;
        }

        div {
            padding: 5px 0;
            font-size: 11px;

            i {padding-left: 3px;}
        }
    }
}
