.content-section  {

    background-color: #0282f9;
    position: relative;
    z-index: 1002;
    color: white;

    .container {
        padding: 24px 0;

        .row {
            justify-content: center;
            align-items: center;
    
            .buy-info-container {
                margin: 0 24px;
                
                a {

                    display: flex;
                    align-items: center;
                    color: white;

                    .icon-box {
                        width: 50px;
                        padding-right: 12px;
                
                        img {width: 100%;}
                    }
    
                    span {font-size: 14px;}
                }
                
            }
        }
    }

    
}

