@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap);.nav-container {
  background-color: #0282f9;
  color: white;
}

.nav-container .row {
  align-items: center;
  justify-content: flex-end;
}

.nav-container .row :first-child {
  padding-right: 36px;
}

.nav-container .row div {
  padding: 5px 0;
  font-size: 11px;
}

.nav-container .row div i {
  padding-left: 3px;
}

.content-nav {
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.content-nav .logo-container {
  width: 80px;
}

.content-nav .logo-container img {
  width: 100%;
}

.content-nav .menu-info-nav {
  display: flex;
}

.content-nav .menu-info-nav li {
  padding: 0 12px;
  font-weight: bold;
  font-size: 16px;
  color: #464646;
}

.content-nav .search-input {
  border-bottom: 2px solid #0282f9;
}

.content-nav .search-input input {
  background-color: white;
  color: white;
  border: none;
}

.content-nav .search-input :focus {
  outline: none;
  opacity: 0.5;
  height: 20px;
  color: black;
}

.content-nav .search-input ::-moz-placeholder {
  font-size: 18px;
  text-align: end;
  font-weight: bold;
  color: black;
}

.content-nav .search-input :-ms-input-placeholder {
  font-size: 18px;
  text-align: end;
  font-weight: bold;
  color: black;
}

.content-nav .search-input ::placeholder {
  font-size: 18px;
  text-align: end;
  font-weight: bold;
  color: black;
}

.footer-info {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-info .content-footer-info {
  justify-content: space-between;
  align-items: center;
}

.footer-info .content-footer-info .info-lists {
  display: flex;
  padding: 36px 0;
}

.footer-info .content-footer-info .info-lists .info-box {
  padding-right: 24px;
}

.footer-info .content-footer-info .info-lists .info-box .title {
  color: white;
  padding: 12px 0;
  font-size: 18px;
}

.footer-info .content-footer-info .info-lists .info-box li {
  padding: 2px 0;
}

.footer-info .content-footer-info .info-lists .info-box li a {
  color: gray;
  font-size: 14px;
}

.footer-info .content-footer-info .info-lists .info-box li a:hover {
  text-decoration: underline;
}

.footer-info .content-footer-info .container-big-logo {
  position: absolute;
  transform: translate(100%);
}

.footer-info .content-footer-info .container-big-logo img {
  width: 100%;
}

.footer-media {
  padding: 24px 0;
  background-color: #303030;
  position: relative;
}

.footer-media .content-social-media-footer {
  align-items: center;
  justify-content: space-between;
}

.footer-media .content-social-media-footer .sign-up-button-container button {
  background-color: #303030;
  border: 1px solid #0282f9;
  color: white;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}

.footer-media .content-social-media-footer .social-media-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.footer-media .content-social-media-footer .social-media-box a {
  color: #0282f9;
  padding-right: 12px;
}

.content-section {
  background-color: #0282f9;
  position: relative;
  z-index: 1002;
  color: white;
}

.content-section .container {
  padding: 24px 0;
}

.content-section .container .row {
  justify-content: center;
  align-items: center;
}

.content-section .container .row .buy-info-container {
  margin: 0 24px;
}

.content-section .container .row .buy-info-container a {
  display: flex;
  align-items: center;
  color: white;
}

.content-section .container .row .buy-info-container a .icon-box {
  width: 50px;
  padding-right: 12px;
}

.content-section .container .row .buy-info-container a .icon-box img {
  width: 100%;
}

.content-section .container .row .buy-info-container a span {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

